#container-body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-content{
  min-height: calc(100vh + 10rem);
}

#marker{
  transform: rotate(20deg);
}

/*
#main-content{
  width: 100vw;
  background-image: url("./geoArMap.svg");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right 50px bottom 50px;
}
*/
